<div class="container mx-auto">
    <h1>World Wide</h1>
    <div class="row">
        <div class="col-3 confirm-color py-2 px-3">
            <h5>Confirmed</h5>
            <p>{{ listWorldWide[0] }}</p>
        </div>
        <div class="col-3 recovered-color py-2 px-3">
            <h5>Recovered</h5>
            <p>{{ listWorldWide[1] }}</p>
        </div>
        <div class="col-3 detail-color py-2 px-3">
            <h5>Deaths</h5>
            <p>{{ listWorldWide[2] }}</p>
        </div>
        <div class="col-3 fantality-color py-2 px-3">
            <h5>Fantality</h5>
            <p>12</p>
        </div>
    </div>
</div>